
body{
    // width: 100%;
    font-size: 14px;
}

.wrapper{
    // width: 100%;
    background-color: #010101;
    color: #fff;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.content{
    will-change: transform;
}
