// @import "_null";
// @import "_fonts";
// @import "_vars";
// @import "_header";
// @import "_swiper";

html,body{
    width: 100%;
    font-size: 14px;
}

.wrapper{
    width: 100%;
    background-color: #1C291D;
}

.container{
    width: 1140px;
    margin: 0 auto;
}


