.main-article {
    color: $colormain;
    min-height: 100vh;
    position: relative;
    // width: 100vw;
    overflow: hidden;
    img{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        min-width: 100%;
    }

    &__content {
        max-width: 700px;
        margin: 200px auto;
        position: relative;
        z-index: 1;
        transform: translate3d(0, calc(var(--scrollTop) / 6.4), 0);
        transition: $transition;
        will-change: transform;
        p{
            margin-top: 100px;
        }

        .moving_circle{
            margin-top: 50px;
        }

        .circle {

            &_big {
                width: 30px;
                height: 30px;
                background-color: blue;
                border-radius: 50%;
                position: relative;
            }
    
            &_small {
                width: 10px;
                height: 10px;
                background-color: red;
                border-radius: 50%;
                position: absolute;
                top: 5px;
                left: 5px;
            }
    }
    
    }

    &__title {
        margin-top: 100px;
    }
}

