.main-header {
    color: $colormain;
    text-shadow: 0 0 15px rgb(255, 211, 136);
    // width: 100vw;
    height: 100vh;
    position: relative;
    .layers {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
        .layer {
            height: 100%;
            width: 100%;
            position: absolute;
            // top: 0;
            // left: 0;
            // right: 0;
            // bottom: 0;
            overflow: hidden;
            transition: $transition;
            img{
                height: 100%;
                // object-fit: scale-down;
                // object-position: center;
                min-width: 100%;
            }
        }
        
        &__header {
            z-index: 1;
            text-align: center;
            // transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
            text-transform: uppercase;
            font-weight: 900;
            transition: $transition;
            margin-top: calc($index * -2.9);
        }
    
        &__caption {
            font-size: calc($index * 1.1);
            letter-spacing: calc($index / 3.2);
            margin-bottom: calc($index * 0.7);
        }
    
        &__title {
            font-size: calc($index * 2.5);
            letter-spacing: calc($index / 2.2);
            width: min-content;
            line-height: calc($index * 2.6);
        }
    
        &__base {
            // transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
            z-index: 0;
        }

        &__middle {
            // transform: translate3d(0, calc(var(--scrollTop) / 2.5), 0);
            z-index: 2;
        }
    
        &__front {
            // transform: translate3d(0, calc(var(--scrollTop) / 5.7), 0);
            z-index: 3;
        }
    }
}

.main-header::after {
    content: '';
    position: absolute;
    z-index: 100;
    width: 100%;
    height: calc($index * 10);
    background-image: url(../img/ground.webp);
    // background-color: aqua;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    bottom: calc($index * -4.5);
    left: 0;
}